body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding:20px;
    margin-left:100px;
    margin-right: 100px;
    margin-top: 20px;
    background-image: url("../images/Sports.png");
}

h1{
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    color: white;
    height:100px;
    width: 230px;
    display: flex;
    align-items: center;


}

h2{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    padding-left: 35px;
}

h6{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    padding-left: 35px;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header{
    border-style: solid;
    border-color: #cccccc;
    background-color: #ffffff;
    height: 100px;
}

header a{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color:#777777;
    font-size: 16px;
    display: flex;
    align-items: center;
}

header ul{
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding:0;
    margin:0;
    display: flex;
    align-items: center;
}

header li{
    font-family: 'Georgia', Times, Times New Roman, serif;
    float:left;
    display:inline;
    padding:0 20px 0 20px;
    display: flex;
    align-items: center;
    padding-top: 30px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin:0;
}

header nav{
    float: right;
    margin-top: 10px;
}

#sidebar{
    float:right;
    width: 270px;
    margin: 10px;
    height: 310px;
    background-color: #ffffff;
    align-content: center;
}
#showcase{
    margin: 10px;
    float: left;
    width: 650px;
    background-color: #ffffff;
    padding-bottom: 20px;
    padding-top: 20px;
}

footer{
    background-color: #666666;
    position: fixed;
    bottom: 0;
    left: 0;
    right:0; 
    color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    border-top: 5px solid #4aaaa5;
}

img{
    height:60px;
    width: 60px;
    padding-left: 20px;
    margin-top: 20px;
}

#portrait{
    width:200px;
    height:300px;
    float: left;
    padding-right:20px;
}

#connect{
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding-left: 20px;
    color: #4aaaa5;
    text-align: center;
}

hr{
    margin: 0px;
    width: 200px;
    margin-left: 20px;
}
#folio{
    height: 300px;
    width: 300px;
}

#portfolio{
    float: left;
    width: 650px;
    height:650px;
    border: 20px;
}

#contact{
    margin: 10px;
    float: left;
    width: 650px;
    background-color: #ffffff;
    padding-bottom: 20px;
    padding-top: 20px;
}

#content{
    align-content: center;
}



#topr{
    display: flex;
    align-items: center;
}